{
  "swagger": "2.0",
  "info": {
    "title": "CM4all Jira Server",
    "version": "v1.0.0"
  },
  "host": "jira.cm4all.com:8080",
  "schemes": [
    "http"
  ],
  "basePath": "/jira/rest",
  "paths": {
    "/api/2/component": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/component",
        "description": "",
        "operationId": "8f8ff448-4ad9-4e5a-9ee9-d95cfddc2811",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/component/:id": {
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/component/{id}",
        "description": "",
        "operationId": "108211eb-87d9-4cd6-af73-224458cfa0fb",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/component/{id}",
        "description": "",
        "operationId": "297846db-ce5d-4953-95b1-90cf8008ddb5",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/component/{id}",
        "description": "",
        "operationId": "cb45290d-9f7c-4383-8752-97d07076c115",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "moveIssuesTo",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/component/:id/relatedIssueCounts": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/component/{id}/relatedIssueCounts",
        "description": "",
        "operationId": "55836f64-01a9-4eb4-b31f-14b5082a5117",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/projectvalidate/key": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/projectvalidate/key",
        "description": "",
        "operationId": "4689fd77-b528-490f-b7f4-2b160e3bb2ab",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "key",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/project/:projectIdOrKey/role": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/{projectIdOrKey}/role",
        "description": "",
        "operationId": "36bd0735-c5ea-4ff7-83e2-15d9fd12783d",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/project/:projectIdOrKey/role/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/{projectIdOrKey}/role/{id}",
        "description": "",
        "operationId": "59433b1a-d125-4f47-8ba4-93d027820aa9",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/{projectIdOrKey}/role/{id}",
        "description": "",
        "operationId": "0718aeec-4dcf-4ca7-8a5c-6fb9cfb39d43",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/{projectIdOrKey}/role/{id}",
        "description": "",
        "operationId": "f76dc745-bfb6-4de6-b27b-d8929e05e853",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/{projectIdOrKey}/role/{id}",
        "description": "",
        "operationId": "edfa77f1-a5f2-437a-aff1-ec37423d15c2",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "user",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "group",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/jql/autocompletedata": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/jql/autocompletedata",
        "description": "",
        "operationId": "ba97a7ef-6bae-441b-a78f-d1eb180f2b02",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/jql/autocompletedata/suggestions": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/jql/autocompletedata/suggestions",
        "description": "",
        "operationId": "3d1816ec-662d-41a5-b5f5-8628d85cad79",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "fieldName",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "fieldValue",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "predicateName",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "predicateValue",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/project/:projectKeyOrId/notificationscheme": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/{projectKeyOrId}/notificationscheme",
        "description": "",
        "operationId": "0f2e7721-3a63-4758-bf8f-7c4a43aa2bbd",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/resolution": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/resolution",
        "description": "",
        "operationId": "c58f87ca-989b-4e29-b734-24dc1ba37d69",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/resolution/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/resolution/{id}",
        "description": "",
        "operationId": "b7f12f3b-d90e-4ec4-879f-5646d1aa7430",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/application-properties": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/application-properties",
        "description": "",
        "operationId": "e8493e07-3174-4c5e-be43-c7b679adf3c2",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "key",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "permissionLevel",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "keyFilter",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/application-properties/advanced-settings": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/application-properties/advanced-settings",
        "description": "",
        "operationId": "f840a988-1ee8-4541-9c2f-6509bbd36c40",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/application-properties/:id": {
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/application-properties/{id}",
        "description": "",
        "operationId": "6aa16ac0-89c8-4ef9-ba20-316d77004dd9",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/configuration": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/configuration",
        "description": "",
        "operationId": "c1ef0322-9d7f-418b-9612-2a68bf7216e2",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/reindex": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/reindex",
        "description": "",
        "operationId": "975e9927-a641-4120-aeba-e0d0e92c1cf5",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "false",
            "name": "indexChangeHistory",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "false",
            "name": "indexComments",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "false",
            "name": "indexWorklogs",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "",
            "name": "type",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/reindex",
        "description": "",
        "operationId": "d3d3fd70-ccd7-4822-bb10-a8716e2257b8",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "taskId",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/reindex/issue": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/reindex/issue",
        "description": "",
        "operationId": "ccd9bb00-3908-4aa7-8b0c-8be769d30afe",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "false",
            "name": "indexChangeHistory",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "false",
            "name": "indexComments",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "false",
            "name": "indexWorklogs",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "",
            "name": "issueId",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/reindex/progress": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/reindex/progress",
        "description": "",
        "operationId": "6c9d4482-8c84-407c-92b6-35c2bc64ab11",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "taskId",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/search": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/search",
        "description": "",
        "operationId": "93bb592e-7854-43e9-bf27-77af0a0357ea",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/search",
        "description": "",
        "operationId": "ec9ffedf-e9ea-4042-82bd-1382655526b6",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "jql",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "startAt",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "maxResults",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "true",
            "name": "validateQuery",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "fields",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/worklog/updated": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/worklog/updated",
        "description": "",
        "operationId": "10605c3b-bf5a-4e86-a42e-c035e7273342",
        "parameters": [
          {
            "type": "string",
            "default": "0",
            "name": "since",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/worklog/deleted": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/worklog/deleted",
        "description": "",
        "operationId": "3cec348d-38d6-4cb6-8b10-6d154ac4a463",
        "parameters": [
          {
            "type": "string",
            "default": "0",
            "name": "since",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/worklog/list": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/worklog/list",
        "description": "",
        "operationId": "3550d74a-7af1-4ac7-b05a-0efd0beb71f6",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/statuscategory": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/statuscategory",
        "description": "",
        "operationId": "4f50eed1-0eab-4862-b544-7fb5aa966566",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/statuscategory/:idOrKey": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/statuscategory/{idOrKey}",
        "description": "",
        "operationId": "c30a63b1-b2f1-49fe-93c8-805bcd9694c3",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/status": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/status",
        "description": "",
        "operationId": "af01baaa-efbb-4340-9bbe-693b7683b699",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/status/:idOrName": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/status/{idOrName}",
        "description": "",
        "operationId": "1c23a720-bc99-423d-a6b9-42004442512f",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/project/type": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/type",
        "description": "",
        "operationId": "87c85062-2d41-4ed3-9641-43b8a0b7abad",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/project/type/:projectTypeKey": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/type/{projectTypeKey}",
        "description": "",
        "operationId": "5973453b-b8c8-478d-8715-9bd8ed3cbf4b",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/project/type/:projectTypeKey/accessible": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/project/type/{projectTypeKey}/accessible",
        "description": "",
        "operationId": "3b1d871e-a021-4e37-bc2b-3fc6cd444f39",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issueLinkType": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issueLinkType",
        "description": "",
        "operationId": "8222cdc9-0724-4b8d-bf2d-621cbd652091",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issueLinkType",
        "description": "",
        "operationId": "14eac589-cbc5-4e0b-911a-6be63cc2fc41",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issueLinkType/:issueLinkTypeId": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issueLinkType/{issueLinkTypeId}",
        "description": "",
        "operationId": "9d6492d7-4774-4af9-9977-822916a4d345",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issueLinkType/{issueLinkTypeId}",
        "description": "",
        "operationId": "73b1831b-6a3d-4a54-8496-e52a3692bf44",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issueLinkType/{issueLinkTypeId}",
        "description": "",
        "operationId": "d1bbc76b-df92-4059-95ac-6d4081c59a15",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuesecurityschemes": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuesecurityschemes",
        "description": "",
        "operationId": "b876e580-b9ad-42f9-ab6d-aedf8ec1fc49",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuesecurityschemes/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuesecurityschemes/{id}",
        "description": "",
        "operationId": "bc77c6ba-38de-4fce-8b3c-a9a9dff3bb3b",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/securitylevel/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/securitylevel/{id}",
        "description": "",
        "operationId": "0de719b2-b73b-4473-8940-99605db5a08c",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/serverInfo": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/serverInfo",
        "description": "",
        "operationId": "66e2db68-5eaf-41e4-b432-a8ac4d753b4e",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "doHealthCheck",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/subtask": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/subtask",
        "description": "",
        "operationId": "6693e299-7eff-4d08-9690-50accfb58c77",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issue/:issueIdOrKey/subtask/move": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/subtask/move",
        "description": "",
        "operationId": "2ddb6932-6854-4170-a1f1-c10b3c55c5bb",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/subtask/move",
        "description": "",
        "operationId": "95d58576-164d-4cce-a4bc-53282dde3f10",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/role": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/role",
        "description": "",
        "operationId": "737b36a3-e22d-45e5-881e-c08e055befa2",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/role",
        "description": "",
        "operationId": "476ba594-c6bd-4eae-a8d3-9b226a5ccaee",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/role/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/role/{id}",
        "description": "",
        "operationId": "2bdf21cb-d6b4-4225-8eb3-e073633a901a",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/role/{id}",
        "description": "",
        "operationId": "e836ea56-deb7-4eb3-b35e-4ad0da69c759",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/role/{id}",
        "description": "",
        "operationId": "070f2c4e-bbf1-4ca7-8086-68959577e88a",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/role/{id}",
        "description": "",
        "operationId": "966c87c7-3bf6-43f0-802a-09c229cee313",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "swap",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/role/:id/actors": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/role/{id}/actors",
        "description": "",
        "operationId": "20b9bee1-72d0-4933-88a3-3f39dd02696f",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/role/{id}/actors",
        "description": "",
        "operationId": "c0e88774-34ed-45cc-8faf-a93918bb7061",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/role/{id}/actors",
        "description": "",
        "operationId": "8f3bf8bf-d128-4740-a570-0e529305e802",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "user",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "group",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue",
        "description": "",
        "operationId": "072ef38e-a383-4429-8884-8f2f4254b145",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issue/:issueIdOrKey/transitions": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/transitions",
        "description": "",
        "operationId": "971b6ff8-f4ac-4de4-b766-4746bfd3fcaa",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/transitions",
        "description": "",
        "operationId": "2d19a99c-e8f2-4423-b604-96a4095d30c8",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "transitionId",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/votes": {
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/votes",
        "description": "",
        "operationId": "6c8327ef-ad19-4d03-ba85-46df41672b2e",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/votes",
        "description": "",
        "operationId": "84703cfe-c5f8-4002-99f0-278038f170aa",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/votes",
        "description": "",
        "operationId": "60a33a55-c0a5-4bc8-a0e5-09720687f9e1",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issue/:issueIdOrKey": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}",
        "description": "",
        "operationId": "d52fe710-cc81-484a-b55e-5dcb8a9da562",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "fields",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "properties",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}",
        "description": "",
        "operationId": "f1632309-745d-4769-8688-53082e2df4fc",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "deleteSubtasks",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}",
        "description": "",
        "operationId": "ecce1457-ff2b-4e1f-b13c-1938befe90e8",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "true",
            "name": "notifyUsers",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/watchers": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/watchers",
        "description": "",
        "operationId": "5686ab45-bb62-44d8-bbdb-fe59358041da",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/watchers",
        "description": "",
        "operationId": "9275c9e1-f369-4454-a32f-368799715970",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/watchers",
        "description": "",
        "operationId": "cef8520e-2d07-4737-810e-619650e00b5f",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "username",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/bulk": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/bulk",
        "description": "",
        "operationId": "69491b19-5c43-4e7d-9075-5a7f72a7fc65",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issue/createmeta": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/createmeta",
        "description": "",
        "operationId": "ffeff8a5-dd93-4779-a228-c448840a0e57",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "projectIds",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "projectKeys",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "issuetypeIds",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "issuetypeNames",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/editmeta": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/editmeta",
        "description": "",
        "operationId": "1156bdb3-2206-4b89-8391-d315df06beed",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issue/picker": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/picker",
        "description": "",
        "operationId": "a87c57e6-deb1-48bb-960b-5cf8ad9061b1",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "query",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "currentJQL",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "currentIssueKey",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "currentProjectId",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "showSubTasks",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "showSubTaskParent",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/remotelink": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/remotelink",
        "description": "",
        "operationId": "cc6ee36e-c668-44f0-84eb-6271f5294c3b",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "globalId",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/remotelink",
        "description": "",
        "operationId": "b4562786-3877-4466-8a3f-6690c5adf242",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/remotelink",
        "description": "",
        "operationId": "a6d1443b-3e8c-47c1-85b6-3585da0da56f",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "globalId",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/remotelink/:linkId": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/remotelink/{linkId}",
        "description": "",
        "operationId": "9cbe6ac4-a32f-4c55-a6e3-8b5b9b45920e",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/remotelink/{linkId}",
        "description": "",
        "operationId": "9a7b1bea-4fdd-4bce-b1ed-95837dd82ab4",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/remotelink/{linkId}",
        "description": "",
        "operationId": "7876d377-f619-425a-9e1c-6a8391d5f1b1",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issue/:issueIdOrKey/worklog": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/worklog",
        "description": "",
        "operationId": "4730c107-3dd8-4659-863b-1ac457988991",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/worklog",
        "description": "",
        "operationId": "f232c910-ce18-4e58-bf2f-1e319c7f6797",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "newEstimate",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "",
            "name": "adjustEstimate",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "",
            "name": "reduceBy",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/worklog/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/worklog/{id}",
        "description": "",
        "operationId": "6f4a82fc-1ffc-492a-bb15-3614fedc5bdc",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/worklog/{id}",
        "description": "",
        "operationId": "136ae0a8-5646-48b7-a10b-7c445c89a3ac",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "newEstimate",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "",
            "name": "adjustEstimate",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/worklog/{id}",
        "description": "",
        "operationId": "b20189b3-839a-4c79-92b6-cdf5d6e18329",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "adjustEstimate",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "newEstimate",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "increaseBy",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/comment/:id": {
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/comment/{id}",
        "description": "",
        "operationId": "13bd7cec-8db9-425a-ba71-66479a2a4286",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/comment/{id}",
        "description": "",
        "operationId": "ef6b34ae-faea-49c7-bfd2-62d1a1c08238",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/comment/{id}",
        "description": "",
        "operationId": "9d21c40e-5bf4-40be-9306-80e0232e26ce",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/comment": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/comment",
        "description": "",
        "operationId": "acdc53ba-52ca-49ec-8a15-3918bce41804",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "startAt",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "maxResults",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "orderBy",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/comment",
        "description": "",
        "operationId": "98f6eafa-9afa-4d69-b7c6-9047e075d31b",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/issue/:issueIdOrKey/assignee": {
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/assignee",
        "description": "",
        "operationId": "1ed97ad9-d6b5-4614-ac2e-94743ea22f2b",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issue/:issueIdOrKey/notify": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issue/{issueIdOrKey}/notify",
        "description": "",
        "operationId": "e4dd1439-3eb1-4c8c-8188-c4eb66680efd",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/avatar/:type/temporary": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/avatar/{type}/temporary",
        "description": "",
        "operationId": "1ee44b49-a195-43fc-92df-a5f6135013ad",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "filename",
            "required": false,
            "in": "formData"
          },
          {
            "type": "string",
            "default": "",
            "name": "size",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/avatar/:type/temporaryCrop": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/avatar/{type}/temporaryCrop",
        "description": "",
        "operationId": "122bb9b3-f0bf-4b75-912e-5b34cc41e64a",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/avatar/:type/system": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/avatar/{type}/system",
        "description": "",
        "operationId": "507008d8-6b8c-4fb7-b738-6c470e69c115",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/screens/:screenId/tabs": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs",
        "description": "",
        "operationId": "071c374a-d4b6-4c6a-934b-625fa716dfd7",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "projectKey",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs",
        "description": "",
        "operationId": "f90b0e2d-7b7f-4d4c-b89c-e7c01b955b16",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/screens/:screenId/tabs/:tabId": {
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs/{tabId}",
        "description": "",
        "operationId": "d04cb789-5acd-4250-80cf-949e0e047e14",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs/{tabId}",
        "description": "",
        "operationId": "5c2f445d-7f46-4403-8bcc-b53e5da3d4d8",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/screens/:screenId/tabs/:tabId/move/:pos": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs/{tabId}/move/{pos}",
        "description": "",
        "operationId": "51d6e663-ae5d-4a13-92a6-4293c6a9a866",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/screens/:screenId/availableFields": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/availableFields",
        "description": "",
        "operationId": "44a194a1-bfb5-487e-a913-8b4eb59f7b01",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/screens/:screenId/tabs/:tabId/fields/:id/move": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs/{tabId}/fields/{id}/move",
        "description": "",
        "operationId": "e5785300-e08e-4dfa-ae86-a5e45e8d4a40",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/screens/addToDefault/:fieldId": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/addToDefault/{fieldId}",
        "description": "",
        "operationId": "76fb06a9-86b8-4f9b-99d0-4172dce199a9",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/screens/:screenId/tabs/:tabId/fields": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs/{tabId}/fields",
        "description": "",
        "operationId": "4e97f60d-d91d-4123-a7f6-15912bc4c995",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs/{tabId}/fields",
        "description": "",
        "operationId": "fa0aee79-9876-428d-93c2-f83c16958eb9",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "projectKey",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/screens/:screenId/tabs/:tabId/fields/:id": {
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/screens/{screenId}/tabs/{tabId}/fields/{id}",
        "description": "",
        "operationId": "ce86ac91-23c1-47b8-aa60-1c178d8cd231",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/notificationscheme": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/notificationscheme",
        "description": "",
        "operationId": "f27e1f1d-fb5b-4ac0-a487-8d4ddc8f50a9",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "startAt",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "maxResults",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/notificationscheme/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/notificationscheme/{id}",
        "description": "",
        "operationId": "261c1831-9570-4a58-bea2-f7e48257cb42",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/groups/picker": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/groups/picker",
        "description": "",
        "operationId": "7f751191-fca9-4080-b26d-7926103889c2",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "query",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "exclude",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "maxResults",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "userName",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/projectCategory": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/projectCategory",
        "description": "",
        "operationId": "d426785b-b32e-451b-b7d4-1f29ab9400b3",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/projectCategory",
        "description": "",
        "operationId": "f6925339-b6d4-4f76-8b4e-f146c9ba41db",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/projectCategory/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/projectCategory/{id}",
        "description": "",
        "operationId": "6d2284dd-d53a-46d4-b378-4ab14a474105",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/projectCategory/{id}",
        "description": "",
        "operationId": "d6d05a51-53dd-4114-b531-683c251b4150",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/projectCategory/{id}",
        "description": "",
        "operationId": "db1092e0-bfeb-4dfb-8104-72d70c8e955a",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/licenseValidator": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/licenseValidator",
        "description": "",
        "operationId": "d2871d51-c3ba-4712-86cb-4835165e6af4",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme",
        "description": "",
        "operationId": "ed9fd858-a1fa-4ad6-952a-20bd59938fdd",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme/:id/issuetype/:issueType": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/issuetype/{issueType}",
        "description": "",
        "operationId": "ef5150ba-f635-4324-97a8-644a82e09afa",
        "parameters": [
          {
            "type": "string",
            "default": "false",
            "name": "returnDraftIfExists",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/issuetype/{issueType}",
        "description": "",
        "operationId": "41655745-c9cd-4e2a-8bd2-031f5910572d",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "updateDraftIfNeeded",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/issuetype/{issueType}",
        "description": "",
        "operationId": "a7ca1036-87be-4538-8022-7b8fc3f01b05",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}",
        "description": "",
        "operationId": "8b59ae5b-2740-4950-ae97-5ee442f4243d",
        "parameters": [
          {
            "type": "string",
            "default": "false",
            "name": "returnDraftIfExists",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}",
        "description": "",
        "operationId": "474f60f4-48f6-4a5a-9b01-93dec823f5cd",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}",
        "description": "",
        "operationId": "3a5151be-ba67-42af-a53a-fb8be494379d",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme/:id/draft": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft",
        "description": "",
        "operationId": "3d9b1b0f-0694-4ad1-97c1-79c053ce2237",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft",
        "description": "",
        "operationId": "196d742e-a0a2-487c-b722-d7e7e1a9014a",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft",
        "description": "",
        "operationId": "8bff2d58-0930-460b-a369-97c349bb853d",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme/:id/createdraft": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/createdraft",
        "description": "",
        "operationId": "9f230c0a-b117-41cb-b9d8-68de5578df33",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme/:id/workflow": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/workflow",
        "description": "",
        "operationId": "bacc4c5d-63de-458c-95e8-d9b80587fc1a",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "workflowName",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "false",
            "name": "returnDraftIfExists",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/workflow",
        "description": "",
        "operationId": "4a348f7f-a8a3-44ce-a7ee-af693e422752",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "workflowName",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "updateDraftIfNeeded",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/workflow",
        "description": "",
        "operationId": "c1eceefc-140c-42af-9aec-549589428fbc",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "workflowName",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/workflowscheme/:id/draft/workflow": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/workflow",
        "description": "",
        "operationId": "bea19481-720a-44f1-aa65-3f5605355b76",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "workflowName",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/workflow",
        "description": "",
        "operationId": "70fa45ed-aaf6-4d39-bb90-224dddf13dbe",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "workflowName",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/workflow",
        "description": "",
        "operationId": "e85c6e69-614b-419a-8dd9-53382bccf295",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "workflowName",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/workflowscheme/:id/draft/issuetype/:issueType": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/issuetype/{issueType}",
        "description": "",
        "operationId": "d558a98d-eefe-4b87-aacc-155abee02c80",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/issuetype/{issueType}",
        "description": "",
        "operationId": "6240598e-7513-4c65-ba03-26fe11ef263e",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/issuetype/{issueType}",
        "description": "",
        "operationId": "370f2ea6-4acc-4eb8-bd2a-9201042e5cd8",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme/:id/draft/default": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/default",
        "description": "",
        "operationId": "e27cf3a3-d241-4eed-a13c-50364256e79f",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/default",
        "description": "",
        "operationId": "33d5d726-68b8-441a-b61a-5dd681cec703",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/draft/default",
        "description": "",
        "operationId": "d5c564d9-0af7-42d6-aa1f-6ef166a832b0",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/workflowscheme/:id/default": {
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/default",
        "description": "",
        "operationId": "eecc3dcb-e7e5-4853-91de-73691e8cca32",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "updateDraftIfNeeded",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/default",
        "description": "",
        "operationId": "d2a324d3-7fd2-4ec9-96cb-528d198463dd",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflowscheme/{id}/default",
        "description": "",
        "operationId": "f21bd7ec-9640-4b80-b3d6-9bd498833a76",
        "parameters": [
          {
            "type": "string",
            "default": "false",
            "name": "returnDraftIfExists",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/upgrade": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/upgrade",
        "description": "",
        "operationId": "52972332-6f25-4e54-84f0-6872e1bf3a5a",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/upgrade",
        "description": "",
        "operationId": "52daca12-982e-4dc0-a23f-6f6d25e12d54",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/dashboard": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/dashboard",
        "description": "",
        "operationId": "a8ad4a21-f270-4ea7-be2c-a9173383e661",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "filter",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "startAt",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "maxResults",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/dashboard/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/dashboard/{id}",
        "description": "",
        "operationId": "018ecb04-7311-46bf-964d-6f367fb4c6d2",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/attachment/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/attachment/{id}",
        "description": "",
        "operationId": "7ec92ed3-e8b7-4af7-9187-1e7f4fe975d6",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/attachment/{id}",
        "description": "",
        "operationId": "c5d14b19-ef5a-4605-a60f-e630ee9f12cb",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/attachment/meta": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/attachment/meta",
        "description": "",
        "operationId": "6afe5f38-40da-4388-a36c-9abe0a48e277",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/attachment/:id/expand/raw": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/attachment/{id}/expand/raw",
        "description": "",
        "operationId": "7cf3ddca-6c5a-4be7-838e-2ed451602e2c",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/attachment/:id/expand/human": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/attachment/{id}/expand/human",
        "description": "",
        "operationId": "034c5d09-aa19-4642-8852-674c1300137a",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/index/summary": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/index/summary",
        "description": "",
        "operationId": "85f16a20-10e5-48ef-9c31-960322c93035",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuetype/:issueTypeId/properties": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{issueTypeId}/properties",
        "description": "",
        "operationId": "a7a5d48c-7bf1-4b91-9f49-3a831451c7d9",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuetype/:issueTypeId/properties/:propertyKey": {
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{issueTypeId}/properties/{propertyKey}",
        "description": "",
        "operationId": "00216e79-dd7f-4324-b59b-b2dea55ab287",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{issueTypeId}/properties/{propertyKey}",
        "description": "",
        "operationId": "4a97f89e-66d1-4cad-8592-36a3f5295af4",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{issueTypeId}/properties/{propertyKey}",
        "description": "",
        "operationId": "8937066c-1d8a-427d-8e9d-e991a70c7332",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/customFieldOption/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/customFieldOption/{id}",
        "description": "",
        "operationId": "0266597f-4a1f-4c05-909a-6d9d0e31482b",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/auditing/record": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/auditing/record",
        "description": "",
        "operationId": "148b647a-baca-45d8-8dad-5e6d62dc589e",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "offset",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "limit",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "filter",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "from",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "to",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "projectIds",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "userIds",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/auditing/record",
        "description": "",
        "operationId": "f014c4cc-5e9f-452e-b0e7-fd1c880396a0",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuetype": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype",
        "description": "",
        "operationId": "735a26b1-ef24-427b-b35e-90d9327ac053",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype",
        "description": "",
        "operationId": "7c18889f-b8b3-41df-813c-b4b9eb22ba3a",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuetype/:id": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{id}",
        "description": "",
        "operationId": "419be5f9-6233-4fbc-a36b-11a62ea47b1d",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{id}",
        "description": "",
        "operationId": "60e1dd35-426f-49e6-9648-df4ef7397001",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "alternativeIssueTypeId",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{id}",
        "description": "",
        "operationId": "da287fde-f689-470b-a95e-2fd9c5557b58",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuetype/:id/alternatives": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{id}/alternatives",
        "description": "",
        "operationId": "4a4a4777-8f46-4796-8c65-ff89f1f165ba",
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuetype/:id/avatar/temporary": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{id}/avatar/temporary",
        "description": "",
        "operationId": "62278f8c-a4d3-4ea0-bb8c-3354c5d018cb",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/issuetype/:id/avatar": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/issuetype/{id}/avatar",
        "description": "",
        "operationId": "d2f7a155-aa8a-4649-af1e-cb5b574ff85c",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      }
    },
    "/api/2/groupuserpicker": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/groupuserpicker",
        "description": "",
        "operationId": "2d2f1b0d-8038-463d-9c0c-6609a337aaff",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "query",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "maxResults",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "showAvatar",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "fieldId",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "projectId",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "issueTypeId",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/group": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/group",
        "description": "",
        "operationId": "23f54803-effb-4393-a667-ef8443324ef6",
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        },
        "parameters": []
      },
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/group",
        "description": "",
        "operationId": "08cd423e-639e-490f-a5d0-cd2831590c39",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "groupname",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "expand",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/group",
        "description": "",
        "operationId": "8029168e-3d30-44c1-b692-230450297903",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "groupname",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "swapGroup",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/group/member": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/group/member",
        "description": "",
        "operationId": "b6a9c280-1a26-411b-bea0-ad32e5a9e18e",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "groupname",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "false",
            "name": "includeInactiveUsers",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "0",
            "name": "startAt",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "50",
            "name": "maxResults",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/group/user": {
      "post": {
        "summary": "http://example.com:8080/jira/rest/api/2/group/user",
        "description": "",
        "operationId": "0c79231a-3b0c-4784-aa28-5fc6042fa896",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "groupname",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/group/user",
        "description": "",
        "operationId": "771d5ff0-685f-4506-bdfd-f9ef675728f4",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "groupname",
            "required": false,
            "in": "query"
          },
          {
            "type": "string",
            "default": "",
            "name": "username",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/mypreferences": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/mypreferences",
        "description": "",
        "operationId": "807ce27e-1e3e-4a99-ad07-ce0467302822",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "key",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "delete": {
        "summary": "http://example.com:8080/jira/rest/api/2/mypreferences",
        "description": "",
        "operationId": "78c1e3e2-0d7c-483c-b2c4-cfb118f899d0",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "key",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      },
      "put": {
        "summary": "http://example.com:8080/jira/rest/api/2/mypreferences",
        "description": "",
        "operationId": "8139744c-585a-4ae1-b2e1-ff7844268b02",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "key",
            "required": false,
            "in": "formData"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/workflow": {
      "get": {
        "summary": "http://example.com:8080/jira/rest/api/2/workflow",
        "description": "",
        "operationId": "ad04bc3d-57ac-4ae3-ae4e-3b487988ec87",
        "parameters": [
          {
            "type": "string",
            "default": "",
            "name": "workflowName",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/api/2/workflow/api/2/transitions/:id/properties": {
      "delete": {
[...]
